<% var data = { title: "Заголовок | Проект", author: "Mathetes" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<!-- Page Content -->
<div class="container wrapper">
  <h2 class="product__heading">Ведро с крышкой - 5 литров</h2>
  <div class="row align-items-center my-5">
    <div class="col-lg-3">
      <%= _.template(require('./../includes/sidebar.html').default)(data) %>
    </div>
    <!-- Heading Row -->

    <div class="col-lg-4">
      <img
        class="img-fluid rounded mb-4 mb-lg-0 product__pic"
        src="../../img/products/5liter.png"
        alt="Ведро с ручкой"
      />
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h2 class="font-weight-light">Характеристики изделия</h2>
      <%= _.template(require('./../includes/table.html').default)(data) %>
    </div>
    <!-- /.col-md-4 -->
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
