<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

  <!-- Page Content -->
  <div class="container wrapper">
  	<h2>Ведро с крышкой - 5 литров</h2>
  	<div class="row align-items-center my-5">

      <div class="col-lg-3">
  		<%= _.template(require('./../includes/sidebar.html').default)(data) %>
	  </div>
    <!-- Heading Row -->

      <div class="col-lg-4">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Business Name or Tagline</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>

  </div>

<%= _.template(require('./../includes/footer.html').default)(data) %>