$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
  "Helvetica Neue", sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: $font-stack;
  background-image: url("../img/bg.jpg");
  color: #000 !important;

  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 10rem;
    }
  }
}

.wrapper {
  margin-top: 120px;
}

.nav__wrapper {
  background-color: #001f3e;
  height: 100px;
}
.nav-item-link {
  text-transform: uppercase;
  margin-left: 100px;
  width: 100%;
}
.logonziv {
  width: 8rem;
}

.product__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

// Sidebar menu
.product {
  overflow: hidden;
}
.product_item {
  list-style: none;
}
.product_link {
  line-height: 2.5rem;
  color: #001f3e;
}
.product__pic {
  width: 100% !important;
}

// Icon block

.icon__block {
  margin-bottom: 50px;
  display: inline-flexbox;
  width: 100%;
}
.icon__block_picture {
  max-width: 150px;
  width: 100% !important;
}

.caracter__card {
  display: inline-block !important;
  border: 0 !important;
  width: 16%;
  height: auto;
}

.icon__link {
  color: #001f3e;
  font-size: 0.6rem;
}
.caracter__card_body {
  text-align: center;
}

// Blocks
.image__block {
  display: inline-block;
  width: 40%;
  float: left;
  margin-right: 33px;
}
.caracters__block {
  display: inline-block;
  width: 56%;
  flet: right;
}
.callme__block {
  float: right;
}
table tr {
  line-height: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
